/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* COLOURS */
	/* for icons, horlines and other details */
	--background-article: #FFF;
	--background-news: #F4EFE5;
	--detail-color: #b99658;
	/* text color */
	--primary-text-colour: #F4EFE5;
	--secondary-text-color: #7DA1A5;
	--card-title-color: #42736e;
	--card-text-color: #4a4a4a;
	/* button color (background of button is same as --detail-color */
	--button-text: #032c2d;

	/* FONTS */
	--main-font: 'bitter', serif;
	--secondary-font: 'Helvetica Neue';
	--tertiary-font: 'Roboto';
	--quaternary-font: 'mueso sans';
	--glossary-button-font: 'Kadwa', serif;
}


/****************/
/* JOUW STYLING */
/****************/

body {
	margin: 0;
	background-image: url("../images/pattern-triforce-2x.png"), linear-gradient(to bottom, #023326 0%, #053335 50%, #0a1928 100%);
	background-position: center center;
	background-repeat: repeat, no-repeat;
	background-size: 2.5rem, cover;
	height: auto;
	min-height: 100%;
	color: var(--primary-text-colour);
}

nav {
	position: sticky;
	top: 0px;
}

h2 {
	margin: 0;
}

p {
	font-family: var(--main-font);
	line-height: 1.5em;
}

img {
	overflow: hidden;
}

ul {
	list-style-type: none;
	padding: 0;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	text-align: center;
	padding: 1em;
	overflow: hidden;
}

p {
	font-size: 1.125rem;
	line-height: 1.6em;
	padding: 0 1em;
}

time {
	font-family: var(--main-font);
	color: var(--detail-color);
	font-style: italic;
}

footer {
	background-color: black;

}

.discover {
	font-family: var(--main-font);
	color: var(--primary-text-colour);
	font-size: 1.3em;
	font-weight: 500;
}

.theLegend {
	font-family: var(--main-font);
	color: var(--primary-text-colour);
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
}

.logos {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.logos img {
	width: 15%;
	margin: 0.5em;
	border-radius: 0.5em;
}

.certificates {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	width: auto;
	height: 7em;
}

.certificates img {
	width: 100%;
	margin: 0.5em;
	border-radius: 0.5em;
}

.decoratedList {
	padding: 0;
	margin: 0;
}

.decoratedItem {
	list-style-type: none;
	padding: 1em;
}

.linkList {
	padding: 0;
	margin: 0;
	margin-top: 1em;
}

.linkItem {
	list-style-type: none;
}

.decoratedItem::before {
	content: "";
	background: url('../images/zelda_site_home/button_decoration_left.png');
	width: 2.6em;
	height: 3.4em;
	position: absolute;
	left: 20%;
}

.decoratedItem::after {
	content: "";
	background: url('../images/zelda_site_home/button_decoration_right.png');
	width: 2.6em;
	height: 3.4em;
	position: absolute;
	right: 20%;
	transform: translate(0, -1em);
}

.gateBackground {
	z-index: -20;
	animation: spinning 60s infinite;
	animation-timing-function: linear;
	position: sticky;
	overflow-x: hidden;
}

.up {
	position: absolute;
	top: 75%;
}

.windButton {
	font-family: var(--main-font);
	color: var(--primary-text-colour);
	padding: 0 1em;
}

.windButton::before {
	content: "";
	background: url(../images/zeldaAbout/about_squigle_left.png);
	width: 1.8em;
	height: 1.2em;
	position: absolute;
	transform: translateX(-1.8em);
}

.windButton::after {
	content: "";
	background: url(../images/zeldaAbout/about_squigle_left.png);
	width: 1.8em;
	height: 1.2em;
	position: absolute;
	transform: scaleX(-1);
}

.triforceBearers {
	width: 100%;
    margin-top: 30em;
}

.character{
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 4em 1em;
}

.triforceBearers div button{
	border: none;
    background-color: transparent;
    transform: scale(0.5);
}

.symbol {
	width: 100%;
}

.characterPortrait {
	width: 100%;
	transform: scale(2);
}

.officialHome {
	color: var(--primary-text-colour);
	font-family: var(--main-font);
	font-size: 0.8rem;
}

.officialHome::before {
	background-image: url("../images/zeldaAbout/sword_decorator.png");
	background-repeat: no-repeat;
	transform: rotate(180deg) translate(2em);
	width: 2em;
	height: 1em;
	content: "";
	position: absolute;
}

.officialHome::after {
	background-image: url("../images/zeldaAbout/sword_decorator.png");
	background-repeat: no-repeat;
	transform: translate(0.6em, -0.1em);
	width: 2em;
	height: 1em;
	content: "";
	position: absolute;
}

.articleImg {
	width: 100%;
}

.video {
	width: 100%;
	border: 2px var(--detail-color) solid;
}

.videoSection {
	padding: 1em;
	font-family: var(--main-font);
	color: var(--primary-text-colour);
	font-size: 1.125rem;
	background-color: rgba(0, 0, 0, 0.2);
}

.background {
	background-image: url("../images/zelda_site_home/zelda-portal-hero-small.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}

.backgroundAbout {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/zeldaAbout/header-about.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}

.red {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 100%;
	color: var(--background-article);
	background-color: red;
	padding: 0;
}

.account {
	display: flex;
	align-items: center;
	fill: var(--detail-color);
	padding: 0;
}

.loginText {
	font-family: var(--secondary-font);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.reduceMotion {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	color: var(--detail-color);
	background-color: black;
	/* gives the div a border at the bottom */
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to right, #000 0%, var(--detail-color) 50%, #000 100%);
	border-image-slice: 1;
	padding: 0;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to right, #000 0%, var(--detail-color) 50%, #000 100%);
	border-image-slice: 1;
	z-index: 5;
}

.sticky {
	position: fixed;
	top: 0;
}

.menuImg {
	height: 1.5em;
}

.icon {
	height: 1.2em;
}

.logo {
	width: 60%;
}

.uppercase {
	text-transform: uppercase;
	font-size: 1.125rem;
}

.ruler {
	background-image: url("../images/zelda_site_home/hyrule_rule.png");
	background-position-x: center;
	background-position-y: bottom;
	height: 5.4em;
	width: 100%;
	position: relative;
	z-index: 5;
	transform: translate(0, 3em);
	margin-bottom: 4em;
}

.fancyButton {
	display: block;
	border: none;
	border-top: 4px var(--detail-color) solid;
	border-bottom: 4px var(--detail-color) solid;
	width: 70%;
	background-color: transparent;
	color: var(--primary-text-colour);
	padding: 0.5em 0;
	font-family: var(--tertiary-font);
	font-size: 1.125rem;
}

.fancyButton::before {
	content: "";
	background: url('../images/zelda_site_home/cta_button_left.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 1.85em;
	height: 4em;
	position: absolute;
	left: 20%;
	transform: translate(-36px, -13px);
}

.fancyButton::after {
	content: "";
	background: url("../images/zelda_site_home/cta_button_right.png");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 1.85em;
	height: 4em;
	position: absolute;
	right: 4%;
	transform: translate(-21px, -13px);
}

.coolButton {
	display: block;
	border: none;
	border: 4px var(--detail-color) solid;
	width: 70%;
	background-color: transparent;
	color: var(--primary-text-colour);
	padding: 0.5em 0;
	font-family: var(--tertiary-font);
	font-size: 1.125rem;
	margin-top: 1em;
	margin-bottom: 1em;
}

.amiibo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
}

.amiiboImg {
	width: 90%;
	background-color: rgba(0, 0, 0, 0.2);
}

.amiiboText {
	grid-column: span 2;
}

.featProd {
	padding-left: 8%;
	padding-right: 8%;
}

.articleProd {
	background-color: var(--background-article);
	margin-bottom: 5%;
	padding: 0.5em;
	text-align: left;
}

.consoleTag {
	color: var(--detail-color);
	font-family: var(--tertiary-font);
	font-size: 0.875rem;
	margin-bottom: 0;
	margin-top: 0.5em;
}

.gameTitle {
	color: var(--card-title-color);
	font-family: var(--main-font);
	font-weight: bold;
	font-size: 1.125em;
	margin-top: 0.5em;
}

.articleButton {
	display: block;
	color: var(--button-text);
	background-color: var(--detail-color);
	font-family: var(--main-font);
	font-weight: bold;
	font-size: 1.125em;
	border: none;
	width: 100%;
	height: 2.4em;
	cursor: pointer;
	outline: none;

}

.newsArticle {
	background-color: var(--background-news);
	margin-bottom: 5%;
	padding: 0.5em;
	text-align: left;
}

.newsTitle {
	color: var(--card-title-color);
	font-family: var(--main-font);
	font-size: 1.125em;
	font-weight: bold;
	margin: 0;
}

.newsText {
	color: var(--card-text-color);
	font-family: var(--main-font);
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
}

.newsButton {
	display: block;
	color: var(--button-text);
	background-color: var(--detail-color);
	font-family: var(--main-font);
	font-weight: bold;
	font-size: 1.125em;
	border: none;
	width: 100%;
	height: 2.4em;
	cursor: pointer;
	outline: none;

}

.horLine {
	height: 2px;
	background: linear-gradient(to right, #000 0%, var(--detail-color) 50%, #000 100%);
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 1;
}

.facebook {
	background-image: linear-gradient(to right, #000 0%, #1B2E40 25%, #1B2E40 75%, #000 100%);
}

.portraits {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(6 1fr);
	column-gap: 5%;
	row-gap: 5%;
	margin-bottom: 4em;
}

.portraits img {
	width: 100%;
}

.portraits img:hover {
	background-color: var(--detail-color);
}

.link {
	display: block;
	position: absolute;
	left: 0;
	z-index: 1;
	width: 65%;
	transform: translate(-2em, 5em);
}

.zelda {
	display: block;
	position: absolute;
	right: 0;
	z-index: 2;
	width: 70%;
}

.groupPic {
	padding-bottom: 150%;
}

.playNintendo {
	font-family: var(--main-font);
	color: var(--primary-text-colour);
	font-size: 1.5em;
}

.darkgreen {
	background-color: #7DA1A5;
	background-image: linear-gradient(to right, #000 0%, #193c38 25%, #193c38 75%, #000 100%);
	margin-bottom: 8em;
}

.adCard {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	border: #000 3px;
	background-color: #e2d267;
	margin-bottom: 0.5em;
}

.adCardReverse {
	display: flex;
	flex-direction: row;
	width: 100%;
	border: #000 3px;
	background-color: #e2d267;
	margin-bottom: 0.5em;
}

.adCardImage {
	width: 100%;
}

.adCardTitle {
	font-size: 1em;
	width: 45vw;
}

.adCardText {
	font-size: 0.9em;
	line-height: 1.2;
	width: 45vw;
}

.glossaryButton {
	font-family: var(--glossary-button-font);
	font-size: 1.3rem;
	border: 1px solid #B99658;
	color: #F4EFE5;
	padding: 0.5rem 2.5rem;
	position: relative;
	margin: 0.3em 1.5rem;
	margin-top: 0.5rem;
	max-width: 280px;
	transition: all 1s ease;
	width: 80%;
	background-color: transparent;
}

.glossaryButton:focus {
	background-color: rgba(27, 63, 60, 0.9);
}

.glossaryButton:focus::before {
	content: "";
	background: url(../images/zeldaAbout/glossary_icon.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 1.85em;
	height: 4em;
	position: absolute;
	left: 0;
	transform: translate(-1.5em, -0.5em);
}

.glossaryButton:focus::after {
	content: "";
	background: url(../images/zeldaAbout/glossary_icon_right.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 1.85em;
	height: 4em;
	position: absolute;
	right: 0;
	transform: translate(1.5em, -0.5em);
}

.goddesses li h3 {
	font-family: var(--main-font);
	color: var(--detail-color);
	font-size: 2rem;
	text-transform: uppercase;
}

.goddesses li p {
	color: var(--primary-text-colour);
	font-size: 1.2rem;
	font-style: italic;
}

/* ID's */
#wallpaperCard {
	background-color: #e2d267;
	color: var(--button-text);
}

#recipeCard {
	background-color: #b42ff5;
	color: var(--primary-text-colour);
}

#exploreCard {
	background-color: #484848;
	color: var(--background-article);
}

#holidayCard {
	background-color: #780000;
	color: var(--primary-text-colour);
}

@keyframes spinning {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}

}