/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* COLOURS */
	/* for icons, horlines and other details */
	--detail-color: #b99658;
	/* text color */
	--primary-text-colour: #F4EFE5;
	--secondary-text-color: #7DA1A5;
	--card-title-color: #42736e;
	--card-text-color: #4a4a4a;
	/* button color (background of button is same as --detail-color */
	--button-text: #032c2d;

	/* FONTS */
	--main-font: 'bitter', serif;
	--secondary-font: 'Helvetica Neue';
	--tertiary-font: 'Roboto';
	--quaternary-font: 'mueso sans';
}


/****************/
/* JOUW STYLING */
/****************/

body {
	margin: 0;
	background-image: url("../images/pattern-triforce-2x.png"), linear-gradient(to bottom, #023326 0%, #053335 50%, #0a1928 100%);
	background-position: center center;
	background-repeat: repeat, no-repeat;
	background-size: 2.5rem, cover;
	height: auto;
	min-height: 100%;
	color: var(--primary-text-colour);
}

nav {
	position: sticky;
	top: 0px;
}

h2 {
	margin: 0;
}

p{
	font-family: var(--primary-text-colour);
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	text-align: center;
}

ul{
	padding: 0;
}

li{
	list-style-type: none;
	padding: 1em;
}

li::before{
	content: "";
	background: url('../images/zelda_site_home/button_decoration_left.png');
	width: 2.6em;
	height: 3.4em;
	position: absolute;
	left: 20%;
}

li::after{
	content: "";
	background: url('../images/zelda_site_home/button_decoration_right.png');
	width: 2.6em;
	height: 3.4em;
	position: absolute;
	right: 20%;
}

.articleImg{
	width: 100%;
}

.video{
	width:100%;
}

.background{
	background-image: url("../images/zelda_site_home/zelda-portal-hero-small.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}

.red {
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	color: white;
	background-color: red;
}

.account {
	display: flex;
	align-items: center;
	fill: var(--detail-color);
}

.reduceMotion {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: var(--detail-color);
	background-color: black;
	/* gives the div a border at the bottom */
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to right, #000 0%, var(--detail-color) 50%, #000 100%);
	border-image-slice: 1;
}

.menu {
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to right, #000 0%, var(--detail-color) 50%, #000 100%);
	border-image-slice: 1;
}

.menuImg{
	height: 24px;
}

.icon{
	height: 20px;
}

.logo{
	width: 60%;
}

.uppercase{
	text-transform: uppercase;
	font-size: 1.125rem;
}

.ruler{
	background-image: url("../images/zelda_site_home/hyrule_rule.png");
	background-position-x: center;
	background-position-y: bottom;
	height: 86px;
	width:100%;
	position: relative;
    z-index: 5;
}

.amiibo{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
}

.amiiboImg{
	width:100%
}

.amiiboText{
	grid-column: span 2;
}


/* not used rn, but might be usefull to have later on */
.horLine {
	height: 2px;
	background: linear-gradient(to right, #000 0%, var(--detail-color) 50%, #000 100%);
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 1;
}